*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

   text-align: center;
   background-color:  #EAEDED  ;
}
h1{

    font-size: 50px;
   margin: 20px 0;
}
.quadrado{
    text-align: center;
    width: 100px;
    background-color: #fff;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
}
.jogador,
.vencedor{
    font-size: 24px;
}
.reiniciar button{
    width: 200px;
    padding: 3px 10px;
    font-size: 18px;
    background-color: darkgrey;
}
@media (max-width: 375px){
    h1{
        font-size: 34px;
    }
    .quadrado{
        width: 60px;
        font-size: 20px;
        padding: 20px;
    }

}
 